@media (max-width: 1000px) {

    /* HEADER-Fajar */
    nav ul {
        margin-top: 23px;
    }

    nav ul li a {
        font-size: 16px;
        text-transform: uppercase;
        padding: 2px 4px;
    }
}

@media (max-width: 670px) {

    /* HEADER-Fajar */
    .checkbtn {
        display: block;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(239, 232, 230, 0.8);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 18px;
    }

    nav a:hover,
    nav a.active {
        background: none;
        color: #5A1A01;
    }

    #check:checked~ul {
        left: 0;
    }


    /* Footer-Fajar */

    footer {
        text-align: center;
    }
}
